{% extends 'base.html' %}

{% block title %} پردازش PDF {% endblock %}

{% load static %}

{% block custom_link %} 

<link rel="stylesheet" href="{% static 'css/banks.css' %}">

{% endblock %}

{% block custom_js %}

<script src="{% static 'lib/sweetalert/all.min.js' %}"></script>
<script src="{% static 'js/pdf_upload.js' %}"></script>

    <script id="MathJax-script"
    async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

<script src="{% static 'js/ai_jobs.js' %}"></script>

{% endblock %}

{% block content %}

<div class="mt-10 flex items-center justify-center gap-10 flex-wrap p-4">
    <pre class="mt-2 p-5 text-center whitespace-pre-wrap wrap-break-word w-fit overflow-x-auto border border-gray-200">
        توجه داشته باش که ممکنه برخی متن های پی دی اف های فارسی
        و همچنین تصاویر خوب استخراج نشن و متن کمی بهم ریخته باشه.
        حداکثر حجم مجاز برای اپلود 5 مگابایت هست. 🟢

        اگر ارور ناموفق بودن پردازش دریافت کردی، به این خاطر هست که
        ساختار فایل پی دی اف تو برای پردازش سازگار نیست.
            میتونی نمونه سوال دیگه ای رو امتحان کنی.🟢

        همچنین هوش مصنوعی کولیب اجازه تحلیل و پاسخگویی به فایل ها
            بجز فایل های مربوط به نمونه سوال های ریاضی رو نداره،
            پس شما فقط مجاز به استفاده از هوش مصنوعی کولیب برای پردازش
            فایل های دارای سوال ریاضی هستید. 🟢

            حداکثر 1500 کاراکتر از نمونه فایل شما برای هوش مصنوعی ارسال میشه. 🟢
    </pre>

    <div class="flex flex-col items-center justify-center gap-5">
    <p class="mt-15 font-bold text-center mb-0">⌛ نسخه آزمایشی</p>
    <h1 class="text-4xl text-center mt-5 font-bold">
        پردازش فایل PDF و سوال 📁🗃️
    </h1>

    <form method="post" id="upload_form" enctype="multipart/form-data" class="flex flex-col gap-5 mt-5 justify-center items-center animate__animated animate__tada">
        <div class="file-input">
            <input type="file" id="pdf_file" class="file" name="pdf_file" accept=".pdf">
            <label for="pdf_file">
            فایلتو انتخاب کن
            </label>
            <p class="file-name mt-5"></p>
        </div>

        {% if error %}

        <p class="text-red-600 mt-5 mb-2">{{ error }}</p>

        {% endif %}

    </form>

    {% if text %}

    <h1 class="text-4xl text-center mt-15">
        محتوای فایل PDF :
    </h1>

    <pre class="mt-2 p-10 whitespace-pre-wrap wrap-break-word max-w-full overflow-x-auto">{{ text }}</pre>

    <div class="flex gap-5 flex-wrap md:flex-nowrap">
        <form action="/qulib-ai/difficulty-detector/" method="post" id="difficulty-detector">
            <input type="hidden" name="text" value="{{ text }}">
            <input type="hidden" name="from" value="pdf">
            <button type="button"
                onclick="handleDetectDifficulty()"
                class="inline-block cursor-pointer mr-10 bg-transparent font-bold text-green-600"
                >
                تشخیص سطح سختی سوال <i class="fa-solid fa-arrow-down"></i>
            </button>
        </form>

        <form action="/qulib-ai/create-same-question/" method="post" id="create-same-question">
            <input type="hidden" name="text" value="{{ text }}">
            <input type="hidden" name="from" value="pdf">
            <button type="button"
                onclick="handleCreateSameQuestion()"
                class="inline-block cursor-pointer mr-10 bg-transparent font-bold text-orange-600"
                >
                ساخت نمونه سوال مشابه <i class="fa-solid fa-arrow-down"></i>
            </button>
        </form>

        <form action="/qulib-ai/solve-text/" method="post" id="solve-text">
            <input type="hidden" name="text" value="{{ text }}">
            <input type="hidden" name="from" value="pdf">
            <button type="button"
                onclick="handleSolveQuestion()"
                class="inline-block cursor-pointer mr-10 bg-transparent font-bold text-pink-800"
                >
                ساخت پاسخنامه <i class="fa-solid fa-arrow-down"></i>
            </button>
        </form>
    </div>

    {% if ai_response %}
    <h3 class="text-2xl text-center mt-10 mb-5 text-purple-600 font-bold">
        سطح سختی : {{ ai_response }}
    </h3>
    {% endif %}

    {% if ai_question %}
    <h3 class="text-2xl text-center mt-10 mb-5 text-purple-600 font-bold">
        نمونه سوال مشابه :
    </h3>

    <div class="flex justify-center items-center flex-col gap-5 w-11/12 mt-10 mr-5">
        
            <div class="text-center">{{ ai_question|safe }}</div>

        </div>

    {% endif %}

    {% if ai_solve %}
    <h3 class="text-2xl text-center mt-10 mb-5 text-purple-600 font-bold">
        پاسخنامه ایجاد شده :
    </h3>

    <div class="flex justify-center items-center flex-col gap-5 w-11/12 mt-10 mr-5">
        
            <p class="text-center">{{ ai_solve|safe }}</p>

        </div>

    {% endif %}

    {% endif %}

    <br>

    </div>

</div>



{% endblock %}