# Git
.git
.gitignore
.github

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual Environment
venv/
.venv/

# Environment
.env
.env.*

# Django
media/
staticfiles/
*.sqlite3

# IDE
.idea/
.vscode/

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
مستندات/
تجاری سازی/
اسکرام/
الگوریتم ها/
بلاکچین/
مقیاس پذیری/

# Assets
qulib.png

# Misc
softwares/