Django==6.0.6
channels==4.3.2
daphne==4.2.2
django-ninja
django-tailwind
django-jalali
django-decouple
django-ratelimit
user-agents

shekar
celery
redis==5.2.1
django-redis
channels-redis==4.3.0

openai
httpx

psycopg[binary]
django-minio-storage
minio
django-elasticsearch-dsl==8.2
elasticsearch==8.18.1

easyocr
opencv-python-headless
pillow
pdfplumber
pdf2docx
pymupdf
django-pwa
django-axes

python-dotenv
python-slugify
whitenoise

Jinja2
PyYAML