{% extends 'base.html' %} 

{% block title %} ویرایش حساب کاربری {% endblock %} 

{% load static %} 

{% block content %}

<form method="post" class="mt-10 flex flex-col items-center text-sm text-slate-800">
    {% csrf_token %} 
    <h1 class="text-4xl font-bold py-4 text-center">ویرایش اطلاعات ✏️</h1>
    <p class="max-md:text-sm text-gray-500 pb-10 text-center">
        این اطلاعات برای نمایش یا شخصی سازی پیشنهادات استفاده خواهد شد
    </p>


    <div class="flex gap-10 items-center justify-center mt-5 mb-10">
        
        <div class="cursor-pointer">
            <input type="radio" required name="avatar" value="1" class="peer" />
            
            <img src="{% static 'images/profile1.jpg' %}" alt="عکس پروفایل 1" class="h-20 w-20 rounded-full">

        </div>

        <div class="cursor-pointer">
            <input type="radio" name="avatar" value="2" class="peer" />
            
            <img src="{% static 'images/profile2.jpg' %}" alt="عکس پروفایل 2" class="h-20 w-20 rounded-full">
            
        </div>

        <div class="cursor-pointer">
            <input type="radio" name="avatar" value="3" class="peer" />
            
            <img src="{% static 'images/profile3.jpg' %}" alt="عکس پروفایل 3" class="h-20 w-20 rounded-full">
            
        </div>
    </div>

    <div class="max-w-96 w-full px-4">
        {{ form.username.label }}
        <div class="flex items-center mt-2 mb-4 h-10 pl-3 border border-slate-300 rounded-full focus-within:ring-2 focus-within:ring-green-400 transition-all overflow-hidden">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-5">
                <path d="M18.311 16.406a9.64 9.64 0 0 0-4.748-4.158 5.938 5.938 0 1 0-7.125 0 9.64 9.64 0 0 0-4.749 4.158.937.937 0 1 0 1.623.938c1.416-2.447 3.916-3.906 6.688-3.906 2.773 0 5.273 1.46 6.689 3.906a.938.938 0 0 0 1.622-.938M5.938 7.5a4.063 4.063 0 1 1 8.125 0 4.063 4.063 0 0 1-8.125 0" fill="#475569"/>
            </svg>
            {{ form.username }}
        </div>

        {{ form.school_name.label }}
        <div class="flex items-center mt-2 mb-4 h-10 pl-3 border border-slate-300 rounded-full focus-within:ring-2 focus-within:ring-green-400 transition-all overflow-hidden">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-5">
                <path d="M17.5 3.438h-15a.937.937 0 0 0-.937.937V15a1.563 1.563 0 0 0 1.562 1.563h13.75A1.563 1.563 0 0 0 18.438 15V4.375a.94.94 0 0 0-.938-.937m-2.41 1.874L10 9.979 4.91 5.313zM3.438 14.688v-8.18l5.928 5.434a.937.937 0 0 0 1.268 0l5.929-5.435v8.182z" fill="#475569"/>
            </svg>
            {{ form.school_name }}
        </div>
        
        {{ form.grade.label }}
         <div class="flex items-center mt-2 mb-4 h-10 pl-3 border border-slate-300 rounded-full focus-within:ring-2 focus-within:ring-green-400 transition-all overflow-hidden">
            {{ form.grade }}
        </div>
        
        
        {% if form.username.errors %}
                <div class="mt-5" role="alert">
                    {% for error in form.username.errors %}
                        <p class="text-red-700">{{ error }}</p>
                    {% endfor %}
                </div>
        {% endif %}

        {% if error %}
                    <p class="text-red-600 mt-5">{{ error }}</p>
        {% endif %}

        <button type="submit" class="flex items-center justify-center gap-1 mt-8 bg-green-500 hover:bg-green-600 text-white py-2.5 w-full rounded-full transition">
            ثبت تغییرات
            <svg class="mt-0.5" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-5">
                <path d="m18.038 10.663-5.625 5.625a.94.94 0 0 1-1.328-1.328l4.024-4.023H3.625a.938.938 0 0 1 0-1.875h11.484l-4.022-4.025a.94.94 0 0 1 1.328-1.328l5.625 5.625a.935.935 0 0 1-.002 1.33" fill="#fff"/>
            </svg>
        </button>
    </div>
</form>

<div class="text-center mt-10">
    <a href="/user/change-password/" class="underline-offset-0 text-emerald-500 text-center">تغییر رمز عبور</a>
</div>

{% endblock %}