{% extends 'base.html' %}

{% block title %} فراموشی رمز عبور {% endblock %}

{% load static %}

{% block content %}


<div class="flex w-full">
    <div class="w-full hidden md:inline-block">
        <img class="h-full rounded-lg" src="{% static 'images/side-image.jpg' %}" alt="leftSideImage">
    </div>

    <div class="w-full mt-12 flex flex-col items-center justify-center">

        <form method="post" onsubmit="alert('اگر اکانتی با این ایمیل وجود داشته باشه، برات ایمیل میاد')" class="md:w-96 w-80 flex flex-col items-center justify-center">
            <h2 class="text-4xl text-gray-900 font-medium mt-20 md:mt-0">فراموشی رمز عبور</h2>
            <p class="text-sm text-gray-500/90 mt-5">رمزت رو یادت رفته؟ زیاد نگران نباش!</p>

            {% csrf_token %}


            <div class="flex items-center w-full bg-transparent border border-gray-300/60 h-12 mt-10 rounded-full overflow-hidden pr-6 gap-2">
                <svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 .55.571 0H15.43l.57.55v9.9l-.571.55H.57L0 10.45zm1.143 1.138V9.9h13.714V1.69l-6.503 4.8h-.697zM13.749 1.1H2.25L8 5.356z" fill="#6B7280"/>
                </svg>
                <input type="email" name="email" id="email" class="bg-transparent text-gray-500/80 placeholder-gray-500/80 outline-none text-sm w-full h-ful" placeholder="ایمیل خود را وارد کنید...">           
            </div>


            <button type="submit" class="mt-8 w-full h-11 rounded-full text-white bg-green-500 hover:opacity-90 transition-opacity">
                ارسال
            </button>
            <p class="text-gray-500/90 text-sm mt-4">حساب کاربری داری؟ <a class="text-green-400 hover:underline" href="/user/login/">وارد شو</a></p>
        </form>
    </div>
</div>


{% endblock %}