{% extends 'base.html' %}

{% block title %} سوالات متداول {% endblock %}

{% load static %}


{% block content %}


<h1 class="text-center mt-15 mb-10 font-bold text-4xl">سوالات متداول 🤔</h1>

<center>

<div class="space-y-4 mb-10 w-11/12">
   <details class="group border-s-4 border-gray-200 bg-gray-50 p-4 [&amp;_summary::-webkit-details-marker]:hidden" open="">
      <summary class="flex items-center justify-between gap-1.5 text-gray-900">
         <h2 class="text-lg font-medium">چطور میشه از کولیب استفاده کرد؟</h2>
         <svg class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </summary>
      <p class="pt-4 text-gray-900">
         استفاده از کولیب خیلی سادست. فقط کافیه حساب کاربری درست کنید و وارد حساب کاربری خودتون بشید. حالا تمامی امکانات پلتفرم کولیب به رایگان در اختیار شماست! میتونید کامنت بزارید، از هوش مصنوعی کولیب استفاده کنید، نمونه سوال یا کتاب هارو دانلود کنید، لایک کنید و امتیاز بدید، ذخیره کنید و به رقابت با دانش آموز های دیگه برید و امتیاز بگیرید. در حال حاضر استفاده از کولیب برای همه رایگانه.
      </p>
   </details>
   <details class="group border-s-4 border-gray-200 bg-gray-50 p-4 [&amp;_summary::-webkit-details-marker]:hidden">
      <summary class="flex items-center justify-between gap-1.5 text-gray-900">
         <h2 class="text-lg font-medium">چطور میشه از رقابت امتیاز گرفت؟</h2>
         <svg class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </summary>
      <p class="pt-4 text-gray-900">
         خیلی ساده! با لایک، کامنت و تعامل در صفحات نمونه سوالات و کتاب ها
      </p>
   </details>
   <details class="group border-s-4 border-gray-200 bg-gray-50 p-4 [&amp;_summary::-webkit-details-marker]:hidden">
      <summary class="flex items-center justify-between gap-1.5 text-gray-900">
         <h2 class="text-lg font-medium">آیا هوش مصنوعی کولیب رایگانه؟</h2>
         <svg class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </summary>
      <p class="pt-4 text-gray-900">
         در حال حاضر محدودیت های استفاده از هوش مصنوعی کولیب زیاد نیست اما سو استفاده از اون منجر به مسدود شدن دسترسی به هوش مصنوعی برای مدتی میشه.
      </p>
   </details>
   <details class="group border-s-4 border-gray-200 bg-gray-50 p-4 [&amp;_summary::-webkit-details-marker]:hidden">
      <summary class="flex items-center justify-between gap-1.5 text-gray-900">
         <h2 class="text-lg font-medium">هوش مصنوعی کولیب چه قابلیت هایی داره؟</h2>
         <svg class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </summary>
      <p class="pt-4 text-gray-900">
         هوش مصنوعی کولیب قابلیت هایی مثل تشخیص سطح سختی سوال، حل کردن سوالات، پردازش پی دی اف و تصاویر و پاسخگویی به سوالات و خواسته های شما در ارتباط با درس ریاضی رو داره. هوش مصنوعی کولیب به دانش آموزان و آموزگاران این امکان رو میده که بتونن سوالات حرفه ای، شخصی سازی شده و مناسب درست کنن، اونارو تحلیل کنن و حتی راه حل رو پیدا کنن و از اون یاد بگیرن.
      </p>
   </details>
   <details class="group border-s-4 border-gray-200 bg-gray-50 p-4 [&amp;_summary::-webkit-details-marker]:hidden">
      <summary class="flex items-center justify-between gap-1.5 text-gray-900">
         <h2 class="text-lg font-medium">آیا منابع آموزشی معتبر است؟</h2>
         <svg class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </summary>
      <p class="pt-4 text-gray-900">
         بله. مدیران و ناظران محتوایی کولیب تلاش میکنن بهترین و با کیفیت ترین سوالات و کتاب های درسی رو از بهترین انتشارات، بهترین مدارس و بهترین طراحان و معلمان جمع آوری کنن و محتوای با کیفیت و مورد تایید متخصصان رو در بانک کولیب قرار بدن تا ارزش کیفی محتوای کولیب بیشتر بشه.
      </p>
   </details>
   <details class="group border-s-4 border-gray-200 bg-gray-50 p-4 [&amp;_summary::-webkit-details-marker]:hidden">
      <summary class="flex items-center justify-between gap-1.5 text-gray-900">
         <h2 class="text-lg font-medium">پلتفرم کولیب رایگانه؟</h2>
         <svg class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </summary>
      <p class="pt-4 text-gray-900">
         بله. پلتفرم کولیب در حال حاضر کاملا رایگان هست و کاربران نیاز به پرداخت هیچ هزینه ای برای استفاده نامحدود از بانک های محتوایی و منابع کمک آموزشی کولیب رو ندارن. هوش مصنوعی کولیب هم در حال حاضر رایگانه، با این تفاوت که به دلیل محدودیت منابع، محدودیت های استفاده داره که با توسعه بیشتر کاهش پیدا میکنن.
      </p>
   </details>
   <details class="group border-s-4 border-gray-200 bg-gray-50 p-4 [&amp;_summary::-webkit-details-marker]:hidden">
      <summary class="flex items-center justify-between gap-1.5 text-gray-900">
         <h2 class="text-lg font-medium">افزایش رتبه و کسب مقام در رقابت کولیب چه مزایایی داره؟</h2>
         <svg class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </summary>
      <p class="pt-4 text-gray-900">
         افزایش رتبه و کسب مقام در لیدربورد و رقابت های کولیب مزایای مختلفی داره. به دست آوردن مدال و نمایش اون توی پروفایل کاربر و نمایش اسم شما به عنوان یکی از دانش آموزان برتر کولیب، یکی از اونهاست.
      </p>
   </details>
   <details class="group border-s-4 border-gray-200 bg-gray-50 p-4 [&amp;_summary::-webkit-details-marker]:hidden">
      <summary class="flex items-center justify-between gap-1.5 text-gray-900">
         <h2 class="text-lg font-medium">آیا میشه از کولیب کسب درآمد کرد؟</h2>
         <svg class="size-5 shrink-0 transition-transform duration-300 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </summary>
      <p class="pt-4 text-gray-900">
        در حال حاضر خیر. اما بعدا با توسعه فروشگاه و شبکه ی همکاری کولیب، امکان درآمدزایی از تبلیغات یا فروش محصولات در مارکت های کولیب وجود خواهد داشت.
      </p>
   </details>
</div>

<a href="/contact/"><button class="mt-10 w-full bg-green-500 px-6 py-3 text-sm font-bold tracking-wide text-white uppercase transition-none rounded-sm hover:bg-green-600 sm:mt-0 sm:w-auto sm:shrink-0" fdprocessedid="zqre3s">
جواب سوالت پیدا نشد؟ با ما تماس بگیر
</button></a>

</center>


{% endblock %}