{% extends 'base.html' %}

{% block title %} همکاری با ما {% endblock %}

{% load static %}


{% block content %}

<section class="bg-white lg:grid lg:h-screen lg:place-content-center animate__animated animate__fadeIn">
   <div class="mx-auto w-screen max-w-7xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
      <div class="mx-auto max-w-prose text-center">
         <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl">
            همکاری با ما و 
            <strong class="text-green-600"> افزایش </strong>
            <span class="border-b-4 border-b-orange-400">مشتریان</span> شما 🚀
         </h1>
         <p class="mt-10 text-base text-pretty text-gray-700 sm:text-lg/relaxed">
            کولیب میتواند با ارائه شبکه همکاری تجاری، جامعه مشتریان شما را گسترش دهد. شما میتوانید با ارائه محصول در بانک های کولیب یا استفاده از سرویس تبلیغات کولیب برنامه بازاریابی خود را برای جامعه هدف معلمان و دانش آموزان گسترش دهید.
         </p>
         <div class="mt-4 flex justify-center gap-4 sm:mt-6">
            <a class="inline-block rounded border border-green-600 bg-green-600 px-5 py-3 font-medium text-white transition-colors hover:bg-green-700" href="/contact/">
            با ما تماس بگیرید
            </a>
            <a class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900" href="/reviews/">
            رضایت مشتریان
            </a>
         </div>
      </div>
   </div>
</section>

<center>

    <span class="flex items-center w-11/12">
    <span class="h-px flex-1 bg-gray-300"></span>
    <span class="shrink-0 px-4 text-gray-900 font-bold">انواع راه های همکاری با کولیب 💵</span>
    <span class="h-px flex-1 bg-gray-300"></span>
    </span>


    <div class="grid grid-cols-1 w-11/12 mt-10 gap-4 lg:grid-cols-2 lg:gap-8">
    <div class="min-h-80 rounded-lg flex flex-col items-center p-10 gap-5 border border-gray-200">

        <h3 class="text-4xl">تبلیغات 📱</h3>

        <p class="text-center w-5/6">
            شما میتوانید با درخواست تبلیغات، کسب و کار خود را به جامعه دانش آموزان، معلمان و سایر قشر های مربوطه معرفی کنید. کولیب، جامعه بزرگ و فعالی از نوجوانان را پدید آورده است. برای اطلاع از شرایط، قیمت و نحوه انجام تبلیغات و اطلاع از جایگاه های تبلیغاتی، با ما تماس بگیرید.
        </p>

        <a class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900" href="/contact/">
            تماس با ما
            </a>

    </div>


    <div class="min-h-80 rounded-lg flex flex-col items-center p-10 pb-5 gap-5 border border-gray-200">

        <h3 class="text-4xl">همکاری در محصول 🤝</h3>

        <p class="text-center w-5/6">
            اگر صاحب کتابخانه یا مدرسه دارای کتاب های کمک درسی و آموزشی و بانک سوالات و آزمون هستید، میتوانید با تولید محتوا و انتشار محصولات و فایل های خود در بانک های کولیب، به مجموعه بزرگ منابع کمک درسی کولیب کمک کنید و جزوی از شرکای ما در توسعه شبکه آموزشی و مطالعه باشید.
        </p>

        <a class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900" href="/contact/">
            تماس با ما
            </a>

    </div>


</center>

<h2 class="text-center mt-15 text-4xl">
    چرا همکاری با <span class="bg-emerald-300 px-2 rounded-3xl">کولیب</span>🤔
</h2>

<center>

        <div class="space-y-3 w-2/3 mt-10">
   <details class="group [&amp;_summary::-webkit-details-marker]:hidden">
      <summary class="flex cursor-pointer items-center justify-between gap-4 border-2 border-black bg-white px-4 py-3 font-medium text-gray-900 shadow-[4px_4px_0_0] hover:bg-emerald-100 focus:bg-emerald-100 focus:outline-0">
         <span class="font-semibold">کولیب چه جامعه هدفی را در اختیار من قرار میدهد؟</span>
         <svg class="size-5 shrink-0 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </summary>
      <div class="p-4">
         <p>
            کولیب جامعه بزرگ و فعالی از دانش آموزان نوجوان، معلمان و دبیران و مسئولان مدرسه و والدینی که قصد نظارت بر محتوای آموزشی یا جمع آوری آنها را دارند، برای تبلیغات یا نمایش محصولات شما در اختیار شما قرار میدهد.
         </p>
      </div>
   </details>
   <details class="group [&amp;_summary::-webkit-details-marker]:hidden">
      <summary class="flex cursor-pointer items-center justify-between gap-4 border-2 border-black bg-white px-4 py-3 font-medium text-gray-900 shadow-[4px_4px_0_0] hover:bg-emerald-100 focus:bg-emerald-100 focus:outline-0">
         <span class="font-semibold">همکاری با کولیب هزینه زیادی دارد؟</span>
         <svg class="size-5 shrink-0 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </summary>
      <div class="p-4">
         <p>
            خیر. کولیب با هدف گسترش، تقویت و هوشمند سازی شبکه آموزشی کشور، مخصوصا شبکه پخش سوال و منابع کمک درسی، برای گسترش شبکه ی محتوایی در تمامی حالت ها، هزینه های سنگین یا منافع تجاری بزرگ را هدف قرار نمیدهد.
         </p>
      </div>
   </details>
   <details class="group [&amp;_summary::-webkit-details-marker]:hidden">
      <summary class="flex cursor-pointer items-center justify-between gap-4 border-2 border-black bg-white px-4 py-3 font-medium text-gray-900 shadow-[4px_4px_0_0] hover:bg-emerald-100 focus:bg-emerald-100 focus:outline-0">
         <span class="font-semibold">ویژگی برتر کولیب نسبت به رقبای خود چیست؟</span>
         <svg class="size-5 shrink-0 group-open:-rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
         </svg>
      </summary>
      <div class="p-4">
         <p>
            ویژگی برتر کولیب نسبت به رقبای خود، خارج کردن شبکه ی دستیابی به منابع کمک آموزشی از حالت خشک و ساده است. کولیب با هدف افزایش تعامل و انگیزه، تجربه کاربری زیبا و لذت بخش و هوشمند سازی، شخصی سازی و ساده سازی راه های دستیابی به منابع توسعه داده شده و نسبت به رقبای خود که محتوایی ثابت و خام را در اختیار کاربران قرار میدهند، برتری دارد.
         </p>
      </div>
   </details>
</div>


<div class="border mt-15 border-gray-200 bg-green-400 px-4 py-4 rounded-lg text-gray-900 w-10/12">
  <p class="text-center font-medium">
    با ما تماس بگیرید و به جامعه همکاران کولیب وارد شوید!
    <a href="/contact/" class="inline-block underline"> تماس با ما </a>
  </p>
</div>
  

</center>

{% endblock %}